.Donation {
    margin: 20px auto;
    width: 80%;
}

.flex-justify-around {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.submit-section {
    margin-top: 20px;
}

.pay-section {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.abort-button {
    margin-right: 10px;
}

.black {
    background-color: #333333;
}

.Input {
    width: 50%;
    border-radius: 10px;
    border: 1px solid black;
    height: 35px;
    margin: 15px auto 5px;
}

.Button .Input {
    text-align: center;
}