.social {
    color: #fff;
    text-align: center;
    margin-bottom: 5px;
    padding: 8px;
    font-size: 24px;
    line-height: 0;
    width: 24px;
    border-radius: 5px;
}

.social.facebook {
    background-color: #000;
    color: #fff;
}

.social.twitter {
    background-color: #000;
    color: #fff;
}

.social.whatsapp {
    background-color: #000;
    color: #fff;
}