.userCard {
    font-family: 'Roboto', sans-serif;
    border-radius: 2px;
    text-align: left;
    border: 1px solid black;
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
    padding: 30px 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: var(--shadow);
}

details {
    color: #3c3c3c;
    line-height: 2;
    font-size: 18px;
}

.userCard h3 {
    text-align: left;
    line-height: 1.7;
}