.Linq {
    display: flex;
    justify-content: left;
    text-align: center;
    padding: 10px 0 25px 40px;
    height: 40px;
    box-shadow: var(--shadow);
    background: white;
}

.active {
    font-size: 25px;
    font-weight: 700;
}

.redden{
    color: #ff4444;
}
.Linq a {
    text-decoration: none;
    border-bottom: none;
    padding: 5px;
    line-height: 40px;
}

.Linq a:hover {
    background-color: transparent;
    color: initial;
    padding: 5px;
}
