

@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&family=Roboto+Mono:wght@700&display=swap');

.App {
  text-align: justify;
  padding-top: 40px;
  padding-left: 10vw;
  padding-right: 10vw;
  color: #fff;
  font-family: 'Roboto Mono', monospace;
  font-size: larger;
}

h1 {
  color: rgb(94, 255, 94);
  text-align: left;
}

h2 {
  font-size: 16px;
}

.Button {
    background-color: rgb(29, 26, 43);
    color: rgb(94, 255, 94);
    border: 1.5px rgb(94, 255, 94) solid;
    padding: 10px 15px;
    margin: 5px;
    margin-top: 30px;
    border-radius: 7px;
    font-weight: bold;
    font-size: large;
    outline: none;
    font-family: 'Roboto Mono', monospace;
}

.Button:hover {
  color: rgb(255, 218, 72);
  border: 1.5px rgb(255, 218, 72) solid;
}

.Button2 {
  background-color: rgb(29, 26, 43);
  color: rgb(255, 169, 103);
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: wobble 5s ease-in-out infinite alternate;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes wobble {
  33% {
    transform: rotate(5deg);
  }
  66% {
    transform: rotate(-5deg);
  }
}
