

@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&family=Roboto+Mono:wght@700&display=swap');

.App {
  text-align: justify;
  padding-top: 10vh;
  padding-left: 10vw;
  color: #fff;
  font-family: 'Roboto Mono', monospace;
  font-size: larger;
}

h1 {
  color: rgb(94, 255, 94);
}

h2 {
  font-size: medium;
}

.Button {
    background-color: black;
    color: white;
    border: 1px #DADADA solid;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 9px;
    font-weight: bold;
    font-size: large;
    outline: none;
}

.Button2 {
  background-color: rgb(0, 0, 0);
  color: white;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: wobble 5s ease-in-out infinite alternate;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes wobble {
  33% {
    transform: rotate(5deg);
  }
  66% {
    transform: rotate(-5deg);
  }
}
