
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&family=Roboto+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.App {
  text-align: center;
  padding-top: 60px;
  padding-left: 3vw;
  padding-right: 3vw;
  color: rgb(1, 1, 1);
  font-family: 'Roboto Mono', monospace;
  font-size: larger;
  padding-bottom: 30vh;
}

.App h2{
  text-align: justify;
}

.Linq {
  padding: 40px 40px;
  /* padding-left: 8vw; */
  padding-bottom: 0px;
  text-align: center;
}
.Link {
  padding: 5px 30px;
  font-weight: bold;
  color: rgb(203, 245, 185);
  background-color: rgb(233, 102, 102);

}

#home {
  color: rgb(255, 255, 255);

}
.App2 {
  text-align: left;
  padding-top: 20px;
  padding-left: 5vw;
  padding-right: 5vw;
  color: rgb(33, 33, 33);
  font-family: 'Roboto', sans-serif;
  padding-bottom:50px;
  font-size: 12px;
  margin-bottom: 10vh;
  line-height: 1.4;
}

.App3 {
  width: 90vw;
  margin: 0 auto;
  text-align: left;
  padding-top: 20px;
  padding-left: 3vw;
  padding-right: 3vw;
  color: rgb(33, 33, 33);
  font-family: 'Roboto', sans-serif;
  padding-bottom:50px;
  font-size: 12px;
  margin-bottom: 10vh;
  line-height: 1.4;
}

#hp {
  padding-left: 0;
  padding-right: 0;
}

.App3 h1 {
  color: rgb(13, 73, 147);
  text-align: left;
  line-height: 1;
  font-size: 40px;
}

.App2 h2 {
  font-size: 19px
}

.Clipboard{
  background-color: rgb(29, 26, 43);
    color: rgb(94, 255, 94);
    border: 1.5px rgb(94, 255, 94) solid;
    padding: 9px 7px;
    /* margin: 5px; */
    margin-top: 3px;
    border-radius: 7px;
    font-weight: bold;
    font-size: 15px;
    outline: none;
    font-family: 'Roboto Mono', monospace;
}

.App2 h1{
  font-size: 29px
}

.userCard span {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;
  font-size: 20px;
}
h1 {
  color: rgb(13, 73, 147);
  text-align: center;
  line-height: 1;
  font-size: 45px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 15px;
}

span {
  color: rgb(49, 92, 58);
  font-weight: bold;
}

.Button {
    background-color: rgb(29, 26, 43);
    color: rgb(94, 255, 94);
    border: 1.5px rgb(94, 255, 94) solid;
    padding: 9px 7px;
    margin: 5px;
    margin-top: 30px;
    border-radius: 7px;
    font-weight: bold;
    font-size: large;
    outline: none;
    font-family: 'Roboto Mono', monospace;
}

.Button:hover {
  color: rgb(255, 218, 72);
  border: 1.5px rgb(255, 218, 72) solid;
}

.Button2 {
  background-color: rgb(29, 26, 43);
  color: rgb(255, 169, 103);
}

.App-logo {
  height: 80px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: wobble 5s ease-in-out infinite alternate;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(46, 46, 46);
}

.userCard {
  font-family: 'Roboto', sans-serif;
  border-radius: 2px;
  text-align: left;
  border: 1px solid black;
  width: 80vw;
  margin: 0 auto;
  margin-top: 40px;
  padding: 30px 20px;
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 3px 3px 4px 1px rgba(11,13,26,0.1);
  -moz-box-shadow: 3px 3px 4px 1px rgba(11,13,26,0.1);
  box-shadow: 3px 3px 4px 1px rgba(11,13,26,0.1);
}

details {
  font-family: 'Oswald', sans-serif;
  color: #3c3c3c;
  line-height: 2;
  font-size: 18px;
}

.userCard h3 {
  text-align: left;
  line-height: 1.7;
}

.Loader {
display: flex;
justify-content: center;
margin-top: 10vh;
}

.header {
  font-family: 'Roboto Mono', monospace;
  width: 80vw;
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.Title {
  display: flex;
  justify-content: center;

}

@keyframes wobble {
  33% {
    transform: rotate(5deg);
  }
  66% {
    transform: rotate(-5deg);
  }
}

@media only screen and (max-width: 600px){
  .App{
    padding-top: 10px;
    margin: 0 8vw;
  }
  .Linq{
    padding: 0
  }

  .Link {
    margin: 0;
    background: black;
  }
}