

@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&family=Roboto+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.App {
  text-align: justify;
  padding-top: 20px;
  padding-left: 8vw;
  padding-right: 8vw;
  color: rgb(1, 1, 1);
  font-family: 'Roboto Mono', monospace;
  font-size: larger;
}

.Linq {
  padding: 40px 40px;
  padding-bottom: 0px;
  width: 100vw;
}
.Link {
  padding-right: 30px;
  font-weight: bold;
  color: rgb(203, 245, 185);
  background-color: black;

}

#home {
  color: rgb(255, 255, 255);

}
.App2 {
  text-align: left;
  padding-top: 20px;
  padding-left: 8vw;
  padding-right: 8vw;
  color: rgb(33, 33, 33);
  font-family: 'Roboto', sans-serif;
  font-size: larger;
  padding-bottom:50px;
}

.App2 h2 {
  font-size: 21px
}
h1 {
  color: rgb(181, 2, 2);
  text-align: left;
  line-height: 1em;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 15px;
}

span {
  color: rgb(49, 92, 58);
  font-weight: bold;
}

.Button {
    background-color: rgb(29, 26, 43);
    color: rgb(94, 255, 94);
    border: 1.5px rgb(94, 255, 94) solid;
    padding: 9px 7px;
    margin: 5px;
    margin-top: 30px;
    border-radius: 7px;
    font-weight: bold;
    font-size: large;
    outline: none;
    font-family: 'Roboto Mono', monospace;
}

.Button:hover {
  color: rgb(255, 218, 72);
  border: 1.5px rgb(255, 218, 72) solid;
}

.Button2 {
  background-color: rgb(29, 26, 43);
  color: rgb(255, 169, 103);
}

.App-logo {
  height: 80px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: wobble 5s ease-in-out infinite alternate;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(46, 46, 46);
}

.userCard {
  font-family: 'Roboto', sans-serif;
  border-radius: 7px;

  width: 80vw;
  margin: 0 auto;
  margin-top: 20px;
  padding: 15px 20px;
  background-color: rgb(255, 249, 208);
  -webkit-box-shadow: 3px 3px 4px 1px rgba(11,13,26,0.1);
  -moz-box-shadow: 3px 3px 4px 1px rgba(11,13,26,0.1);
  box-shadow: 3px 3px 4px 1px rgba(11,13,26,0.1);
}

.userCard h3 {
  text-align: left;
}

.Loader {
display: block;
width: 100%;
color: black;
margin-left: 40vw;
margin-top: 20vh;
}

.header {
  font-family: 'Roboto Mono', monospace;
  width: 85vw;
  margin: 0 auto;
  margin-top: 10px;
}

.App-link {
  color: #61dafb;
}

.Title {
  display: flex;

}

@keyframes wobble {
  33% {
    transform: rotate(5deg);
  }
  66% {
    transform: rotate(-5deg);
  }
}
