.btn {
    padding: 15px 15px;
    border-radius: 5px;
    border: none;
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 15px;
    outline: none;
    margin: 0 15px;
    margin-bottom: 3px;
    display: inline-block;
    text-decoration: none;
    transition: linear 0.04s;
}

.btn:hover, .btn:active {
    box-shadow: var(--shadow);
    cursor: pointer;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--white);
}

.btn-secondary {
    background-color: var(--secondary-color);
    color: black;
    border: 1px solid black;
  }